Repository bounswe/bounswe2018group7, pull requests merged in 2018-10, with the labels that each got.

#84 Update login activity
  app/android/hiStoryAndroid/app/src/main/res/layout/activity_login.xml
Labels: relation:android, status:in-progress

#87 login json format has been changes as suggested by ramazan
  app/backend/hiStoryBackend/api/views/auth/views_v1.py
Labels: priority:urgent, relation:backend

#94 Login
  app/android/hiStoryAndroid/app/build.gradle
  app/android/hiStoryAndroid/app/src/main/AndroidManifest.xml
  app/android/hiStoryAndroid/app/src/main/java/com/history/ApiEndpoints.java
  app/android/hiStoryAndroid/app/src/main/java/com/history/LoginActivity.java
  app/android/hiStoryAndroid/app/src/main/java/com/history/User.java
  app/android/hiStoryAndroid/app/src/main/res/layout/activity_login.xml
Labels: priority:medium, relation:android, status:needs-review

#93 Implement Basic MemoryPost Model
  app/backend/hiStoryBackend/api/migrations/0007_memorypost.py
  app/backend/hiStoryBackend/api/migrations/0008_memorymedia.py
  app/backend/hiStoryBackend/api/migrations/0009_memorymedia_order.py
  app/backend/hiStoryBackend/api/models.py
  app/backend/hiStoryBackend/hiStoryBackend/settings.py
  app/backend/hiStoryBackend/requirements.txt
Labels: priority:high, relation:backend

#96 B create post
  app/backend/hiStoryBackend/api/migrations/0010_auto_20181027_1452.py
  app/backend/hiStoryBackend/api/models.py
  app/backend/hiStoryBackend/api/serializers.py
  app/backend/hiStoryBackend/api/urls.py
  app/backend/hiStoryBackend/api/views/v1/memory_post_views.py
Labels: priority:high, relation:backend

#97 Memory Post Api Endpoints
  app/backend/hiStoryBackend/api/helpers/custom_helpers.py
  app/backend/hiStoryBackend/api/serializers.py
  app/backend/hiStoryBackend/api/urls.py
  app/backend/hiStoryBackend/api/views/v1/memory_post_views.py
  app/backend/hiStoryBackend/hiStoryBackend/settings.py
Labels: priority:high, relation:backend
