Repository bounswe/bounswe2018group7, pull requests merged in 2019-01, with the labels that each got.

#149 /api/v1/annotations Endpoint
  app/backend/hiStoryBackend/api/admin.py
  app/backend/hiStoryBackend/api/migrations/0018_annotation.py
  app/backend/hiStoryBackend/api/migrations/0019_auto_20181231_1504.py
  app/backend/hiStoryBackend/api/migrations/0020_mediaupload.py
  app/backend/hiStoryBackend/api/migrations/0021_auto_20181231_1746.py
  app/backend/hiStoryBackend/api/models.py
  app/backend/hiStoryBackend/api/serializers.py
  app/backend/hiStoryBackend/api/urls.py
  app/backend/hiStoryBackend/api/views/v1/annotation_views.py
  app/backend/hiStoryBackend/api/views/v1/media_upload_views.py
  app/backend/hiStoryBackend/hiStoryBackend/settings.py
Labels: priority:high, relation:backend, type:new-feature

#150 api/v1/recommendation Endpoint
  app/backend/hiStoryBackend/api/urls.py
  app/backend/hiStoryBackend/api/views/v1/recommendation_views.py
  app/backend/hiStoryBackend/hiStoryBackend/settings.py
Labels: priority:high, relation:backend, type:new-feature

#151 api/v1/search Endpoint
  app/backend/hiStoryBackend/api/urls.py
  app/backend/hiStoryBackend/api/views/v1/search_views.py
Labels: priority:high, relation:backend, status:needs-review, type:new-feature

#152 Merge Backend into Master
  app/backend/hiStoryBackend/.gitignore
  app/backend/hiStoryBackend/Procfile
  app/backend/hiStoryBackend/api/__init__.py
  app/backend/hiStoryBackend/api/admin.py
  app/backend/hiStoryBackend/api/apps.py
  app/backend/hiStoryBackend/api/helpers/__init__.py
  app/backend/hiStoryBackend/api/helpers/custom_helpers.py
  app/backend/hiStoryBackend/api/helpers/json_response_helpers.py
  app/backend/hiStoryBackend/api/migrations/0001_initial.py
  app/backend/hiStoryBackend/api/migrations/0002_auto_20181017_1831.py
  app/backend/hiStoryBackend/api/migrations/0003_user_confirmed.py
  app/backend/hiStoryBackend/api/migrations/0004_user_confirmation_token.py
  app/backend/hiStoryBackend/api/migrations/0005_auto_20181018_1604.py
  app/backend/hiStoryBackend/api/migrations/0006_user_password_reset_token.py
  app/backend/hiStoryBackend/api/migrations/0007_memorypost.py
  app/backend/hiStoryBackend/api/migrations/0008_memorymedia.py
  app/backend/hiStoryBackend/api/migrations/0009_memorymedia_order.py
  app/backend/hiStoryBackend/api/migrations/0010_auto_20181027_1452.py
  app/backend/hiStoryBackend/api/migrations/0011_memorypost_tags.py
  app/backend/hiStoryBackend/api/migrations/0012_auto_20181113_1411.py
  app/backend/hiStoryBackend/api/migrations/0013_comment.py
  app/backend/hiStoryBackend/api/migrations/0014_reaction.py
  app/backend/hiStoryBackend/api/migrations/0015_auto_20181204_1738.py
  app/backend/hiStoryBackend/api/migrations/0016_user_profile_picture.py
  app/backend/hiStoryBackend/api/migrations/0017_auto_20181210_1914.py
  app/backend/hiStoryBackend/api/migrations/0018_annotation.py
  app/backend/hiStoryBackend/api/migrations/0019_auto_20181231_1504.py
  app/backend/hiStoryBackend/api/migrations/0020_mediaupload.py
  app/backend/hiStoryBackend/api/migrations/0021_auto_20181231_1746.py
  app/backend/hiStoryBackend/api/migrations/__init__.py
  app/backend/hiStoryBackend/api/models.py
  app/backend/hiStoryBackend/api/serializers.py
  app/backend/hiStoryBackend/api/templates/auth/email_confirmation.html
  app/backend/hiStoryBackend/api/templates/auth/email_confirmation.txt
  app/backend/hiStoryBackend/api/templates/auth/password_reset.html
  app/backend/hiStoryBackend/api/templates/auth/password_reset.txt
  app/backend/hiStoryBackend/api/tests.py
  app/backend/hiStoryBackend/api/urls.py
  app/backend/hiStoryBackend/api/views/v1/annotation_views.py
  app/backend/hiStoryBackend/api/views/v1/auth_views.py
  app/backend/hiStoryBackend/api/views/v1/comment_views.py
  app/backend/hiStoryBackend/api/views/v1/media_upload_views.py
  app/backend/hiStoryBackend/api/views/v1/memory_post_views.py
  app/backend/hiStoryBackend/api/views/v1/profile_views.py
  app/backend/hiStoryBackend/api/views/v1/reaction_views.py
  app/backend/hiStoryBackend/api/views/v1/recommendation_views.py
  app/backend/hiStoryBackend/api/views/v1/search_views.py
  app/backend/hiStoryBackend/hiStoryBackend/__init__.py
  app/backend/hiStoryBackend/hiStoryBackend/settings.py
  app/backend/hiStoryBackend/hiStoryBackend/urls.py
  app/backend/hiStoryBackend/hiStoryBackend/wsgi.py
  app/backend/hiStoryBackend/manage.py
  app/backend/hiStoryBackend/requirements.txt
  app/backend/hiStoryBackend/runtime.txt
  app/backend/tag_similarity/.gitignore
  app/backend/tag_similarity/ec2.sh
  app/backend/tag_similarity/query_similarity.cpp
  app/backend/tag_similarity/se7en.pem
  app/backend/tag_similarity/setup_ec2.sh
  app/backend/tag_similarity/sort_words.cpp
Labels: relation:backend

#155 Backend Revised Settings File and Created Readme
  app/backend/hiStoryBackend/README.md
  app/backend/hiStoryBackend/api/models.py
  app/backend/hiStoryBackend/api/views/v1/recommendation_views.py
  app/backend/hiStoryBackend/hiStoryBackend/settings.py
  app/backend/readme.md
Labels: priority:high, relation:backend, relation:documentation

#156 Backend python-dotenv Integration
  app/backend/hiStoryBackend/.gitignore
  app/backend/hiStoryBackend/README.md
  app/backend/hiStoryBackend/hiStoryBackend/settings.py
  app/backend/hiStoryBackend/requirements.txt
Labels: priority:high, relation:backend
